*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.titulo-texto{
    color:green;
    font-size:40px;
    font-style:italic;
    font-weight:bold;
    font-family:'Times New Roman', Times, serif;
    text-align:center;
    text-transform:uppercase;
    
}

P {
    color:black

}

#titulo-destacado {
    color:chartreuse
}

.fuente-letra{
    font-size:25px;
}

form {
    color:blue
}

h1 {

    color:black
}